:root {
  --gray: #c9caca;
  --secondary-color: #011b22;
  --accent-color: #00b0dc;
  --primary-color: #fff;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  font: inherit;
  color: inherit;
  cursor: pointer;
}

ol,
ul,
menu {
  list-style: none;
}

p {
  line-height: 2;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1;
  color: var(--secondary-color);
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4em;
  background-color: var(--secondary-color);
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 75px;
}

.logo-title {
  color: var(--accent-color);
  font-family: "Dancing Script", cursive;
  font-size: 1.25em;
}

.menu-open,
.menu-close {
  display: none;
}

.nav-items {
  display: flex;
  gap: 20px;
  color: var(--primary-color);
}

a:link {
  color: var(--primary-color);
}

a:visited {
  color: var(--primary-color);
}
a:hover {
  color: var(--accent-color);
}

a:active {
  color: var(--accent-color);
}

/* Main */
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 4em;
}

.title-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  font-family: "Dancing Script", cursive;
  color: var(--accent-color);
}

.main-title {
  font-size: 3em;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 4em;
}

.card {
  background: url(../images/ui-element-006.png) no-repeat top;
  background-size: cover;
  padding: 1em 2em;
  margin-bottom: 4em;
  color: var(--primary-color);
}

.card,
.card-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-img {
  width: 75px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  top: -20px;
}

.card-header h3 {
  /* font-family: "Dancing Script", cursive; */
  font-size: 1.5em;
  padding-top: 3em;
}

.card-price {
  font-size: 1.25em;
}

.card-content {
  padding-bottom: 1em;
  line-height: 1.5;
}

.card-content ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-btn {
  padding: 15px 20px;
  color: var(--accent-color);
  /* color: #74d0ed; */
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
}

strike {
  opacity: 0.2;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: var(--secondary-color);
  color: var(--gray);
}

/* Media Queries */
@media (max-width: 1300px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 992px) {
  .card-container {
    grid-template-columns: 1fr;
    padding: 2em;
  }
}

@media (max-width: 768px) {
  header {
    padding: 0 2em;
  }

  .logo-title {
    display: none;
  }
}
@media (max-width: 576px) {
  main {
    padding: 2em 0;
  }

  .card {
    padding: 0;
  }
}

@media (max-width: 420px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-item {
    display: none;
  }

  nav {
    flex-direction: column;
    padding: 0px 0 30px 15px;
  }

  .menu-open {
    display: inline;
  }

  .menu-open,
  .menu-close {
    color: var(--primary-color);
    font-size: 2em;
    cursor: pointer;
    position: relative;
    top: -50px;
    left: 85%;
  }

  .menu-open:hover,
  .menu-close:hover {
    color: var(--accent-color);
  }

  i.menu-close {
    display: none;
  }

  .card {
    padding: 0;
  }
}
